
<div class="app-container ruby-demo">
  <div class="site-background"></div>
  <div class="search-demo <%= 'active-search' if @search_results&.any? %> -live-filtering">
    <div class="search-demo__content">

      <%# Header %>
      <div class="search-demo__header">
        <div class="search-demo__headings">
          <div class="search-demo__icon-wrap">
            <%= image_tag('icons/icon-gem.svg', class: 'search-demo__icon', alt: 'Gem Search Icon') %>
          </div>
          <h1 class="search-demo__title">Package Search</h1>
          <h3 class="search-demo__sub-heading powered-by">
            <%= image_tag('powered-by@2x.png', alt: 'Powered by Swiftype') %>
          </h3>
        </div>

          <%= form_tag({}, {method: :get, class: 'search-demo__input-wrapper'}) do %>
            <%= text_field_tag(:q, params[:q], class: "search-demo__text-input", placeholder: "Search for Ruby gems...") %>
            <%= submit_tag("Search", class: "button search-demo__submit") %>
          <% end %>
      </div>


      <%# Results %>
      <div class="search-demo__body">
        <% if @search_results&.any? %>
          <div class="search-results">

          <div class="results">
            <div class="results__header">
              <div class="results__result-count">
                Showing <strong>1 – 10</strong> of <strong>100</strong>
              </div>
              <div class="results__powered-by powered-by">
                <%= image_tag('powered-by@2x.png', alt: 'Powered by Swiftype') %>
              </div>
            </div>

            <div class="results__body">
              <ul>
                <% @search_results.each do |rubygem| %>
                  <li class="result">
                    <div class="result__header">
                      <%= link_to "#{rubygem.name}", ruby_gem_path(rubygem) %>
                    </div>

                    <div class="result__body">
                      <p class="result__description"><%= rubygem.info %></p>
                    </div>

                    <div class="result__footer">
                      <div class="result__owner">
                        <p><%= rubygem.authors %></p>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class="results__footer">
              <%= render "pagination", total_pages: @total_pages, current_page: @current_page, query: params[:q] %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
