<div class="starter-template">
  <h1>James' Gem Hunt, a RubyGems Search Engine</h1>
  <p class="lead">This search box is backed by Swiftype's App Search product! <br> Please type whatever feels right.</p>

  <%= form_tag({}, {method: :get}) do %>
    <div class="form-group row">
      <%= text_field_tag(:q, params[:q], class: "form-control", placeholder: "My favorite gem...") %>
    </div>

    <div class="form-group row">
      <%= submit_tag("Search", class: "btn btn-primary mb-2") %>
    </div>
  <% end %>
</div>

<div>
  <% if @search_response&.results&.any? %>

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Gem Name</th>
          <th scope="col">Authors</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>

        <% @search_response.results.each do |rubygem| %>
          <tr>
            <td><%= rubygem.name %></td>
            <td><%= rubygem.authors %></td>
            <td><%= link_to 'Gem Details', ruby_gem_path(rubygem.id) %></td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <%= render "pagination", search_response: @search_response, query: params[:q] %>
  <% end %>
</div>
